# Don't track content of these folders
NAWRIN_thesis_codes/final_input
NAWRIN_thesis_codes/outCACDS
NAWRIN_thesis_codes/outDCADS
NAWRIN_thesis_codes/outMCDS
NAWRIN_thesis_codes/test_input

# Compiled source #
###################
*.a.out
*.tr
*.nam
*.tr

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
